body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

h3 {
    text-align: center;
    margin-left: 145px;
}

.main_div {
    width: 500px;
    height: 500px;
}

.buttons {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    gap: 16px;
}

.container {
    height: 500px;
    background-color: grey;
    display: flex;
    justify-content: center;
    gap: 64px;
}