body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    box-sizing: border-box;
    background-color: #6F61C0;
    color: white;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    text-align: center;
}

h3 {
    text-align: center;
    margin-left: 145px;
}

.main_div {
    width: 500px;
    height: 500px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 100px;
}

button {
    font-size: 20px;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0;
    border: 0;
    font-family: 'Oswald', sans-serif;
}

.activebutton {
    font-size: 19px;
    padding: 11px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0;
    border: 0;
    background-color: #8BE8E5;
    color: black;
}

.cleargrid:active {
    font-weight: bold;
    box-shadow: 0;
    border: 0;
    background-color: #8BE8E5;
    color: black;
}

.container {
    height: 500px;
    display: flex;
    justify-content: center;
    gap: 64px;
}